{
    "plugins": [
        // Lazy-load webpack chunks
        "syntax-dynamic-import"
    ],
    "presets": [
        [
            "env",
            {
                // We handle them by Webpack
                "modules": false,
                "useBuiltIns": true
            }
        ],
        "react"
    ]
}
